.edit-todo-modal{
    .edit-todo-modal__heading{
        display: flex;
        justify-content: space-between;
    }

    .edit-todo-modal__close{
        height: 2em;
    }

    .edit-todo-modal__body{
           
    }
}