.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &.xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &.default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    &:hover {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }
  }
  &.primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    &:hover {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40;
    }
  }
  &.primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    &:hover {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40;
    }
  }
  &.warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    &:hover {
      color: #fff;
      background-color: #ec971f;
      border-color: #d58512;
    }
  }
  &.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    &.hover {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19;
    }
  }
}
