@charset "UTF-8";

// Fonts
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-width: 1204px;

//Responsive breakpoints
$mobile-max:767px;
$desktop-min:768px;

//Colours
$light-blue:#07C;
$dark-blue: #043448;
